<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Gambling Web Application For Reviews And Rating{% endblock title %}</title>

    <!-- Meta -->
    <meta name="google" content="notranslate" />
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is an awesome website" />

    {% load static %}

    <!-- Icon -->
    <link rel="icon" href="{% static 'img/suit.svg' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap&subset=cyrillic"
        rel="stylesheet">

    <!-- Awesome Fonts -->
    <script src="https://kit.fontawesome.com/c14d216d96.js"
        crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'scss/base.css' %}">
    <link rel="stylesheet" href="{% static 'scss/social-buttons.css' %}">

    {% block extra_css %}
    {% endblock extra_css %}

</head>

<body>
    <!-- Nav -->

    <!-- Logo -->
    <div class='logo-block'>
        <a href="{% url 'blog:home' %}">
            <img id="logo" src="{% static 'img/poker-chip.svg' %}" alt="logo">
        </a>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm justify-content-center">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-black font-weight-bold"
                    href="{% url 'blog:rating' %}">
                    Casino rating</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black font-weight-bold"
                    href="{% url 'blog:home' %}#fresh-posts">
                    Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black font-weight-bold" href="#">
                    Get free bonuses</a>
            </li>
        </ul>
    </nav>
    <!--  -->

    {% block adv_block %}{% endblock adv_block %}
    {% block content %}{% endblock content %}

    <!-- Footer -->
    <footer>
        <img src="{% static 'img/18+.png' %}" alt="18+">

        <!-- Social Buttons -->
        <div class="social-buttons">
            <!-- facebook  Button -->
            <a href="http://www.facebook.com" target="blank"
                class="social-margin">
                <div class="social-icon facebook">
                    <i class="fab fa-facebook-f"></i>
                </div>
            </a>
            <!-- pinterest Button -->
            <a href="https://pinterest.com/" target="blank"
                class="social-margin">
                <div class="social-icon pinterest">
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </a>
            <!-- Youtube Button -->
            <a href="http://youtube.com/" target="blank" class="social-margin">
                <div class="social-icon youtube">
                    <i class="fab fa-youtube"></i>
                </div>
            </a>

            <!-- TwitterButton -->
            <a href="http://twitter.com/" target="blank" class="social-margin">
                <div class="social-icon twitter">
                    <i class="fab fa-twitter"></i>
                </div>
            </a>
        </div>
        <!-- /Social Buttons -->
        <p>
            The site is exclusively informative in nature, does not organize and
            conduct gambling. We do not engage in propaganda and do not force
            visitors to the site for real money. All materials collected on the
            site are intellectual property. Any copying without
            reference to the source is prohibited.
        </p>
        <p>Copyright 2020 Only Gambling Ltd.</p>
    </footer>




    <!-- JQuery, Popper, Bootstrap, Underscore -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    
    {% block extra_js %}
    {% endblock extra_js %}
</body>

</html>