{% extends 'base.html' %}
{% load static %}

{% block title %}{{ casino.title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'scss/casino.css' %}">
{% endblock extra_css %}

{% block content %}
<a id="casino-detail-start" href=""></a>

<!-- Casino Container -->
<div class="container">
    <hr>
    <!-- Casino Header -->
    <header>
        <div class="row">

            <!-- First Header Column -->
            <div class="col">
                <!-- Casino Image -->
                <div class="casino-header-image">
                    <a href="#">
                        <img src="{{ casino.image.url }}"
                            alt="{{ casino.title }}">
                    </a>
                </div>
                <!--  -->

                <!-- Jackpot Section -->
                <div class="jackpot shadow">
                    <a href="#">
                        <h2>Claim Jackpot <span
                                class="jackpot-digits">{{ casino.jackpot}}</span>
                        </h2>
                        <p class='text-center'>Play and win <i
                                class="far fa-money-bill-alt"></i>
                        </p>
                    </a>
                </div>
                <!--  -->
            </div>
            <!--  -->

            <!-- Second Header Column -->
            <div class="col">
                <a href="#">
                    <h1 class='casino-header-title'>{{ casino.title }}</h1>
                </a>

                <p class='mb-2'>
                    {% if casino.scam %}
                    <a href="#"><span
                            class="marker shadow badge">Scam</span></a>
                    {% endif %} {% if casino.crypto %}
                    <a href="#"><span
                            class="marker shadow badge">Crypto</span></a>
                    {% endif %} {% if casino.script %}
                    <a href="#"><span
                            class="marker shadow badge">Script</span></a>
                    {% endif %}
                </p>

                {% if casino.dol %}
                <p>
                    <a href=""><i class="fas fa-birthday-cake"></i> Year of
                        creation: {{ casino.dol }}</a>
                </p>
                {% endif %}

                <p class='my-3'>
                    {{ casino.short_desc }}
                </p>

                <a
                    href="http://localhost:8000/casino/ttr-casino/#casino-detail-start">
                    <p class="affiliate-button shadow">Play</p>
                </a>

            </div>
        </div>
    </header>

    <div class='row'>
        <div class="col">

            <!-- Rating Section -->
            <form action="" method='post'>
            {% csrf_token %}
            <table class="table table-hover shadow">
                <thead>
                    <tr>
                      <th scope="col">Rating({{ casino.get_rating_count }})</th>
                      <th scope="col">First</th>
                      <th scope="col">
                          <button class='btn btn-success' type="submit">Vote</button>
                      </th>
                    </tr>
                  </thead>
                <tbody>
                    <tr>
                        <td>Main</td>
                        <td class="table_rate">
                            {{ casino.get_avg_main_rate }} 🌟
                        </td>

                        <td class="table_full_rate">
                            <div class="stars">
                                <input class="star star-10" id="main-star-10"
                                    type="radio" name="main_star" value="10" />
                                <label class="star star-10"
                                    for="main-star-10"></label>
                                <input class="star star-9" id="main-star-9"
                                    type="radio" name="main_star" value="9" />
                                <label class="star star-5" for="main-star-9"></label>
                                <input class="star star-8" id="main-star-8"
                                    type="radio" name="main_star" value="8" />
                                <label class="star star-8" for="main-star-8"></label>
                                <input class="star star-7" id="main-star-7"
                                    type="radio" name="main_star" value="7" />
                                <label class="star star-7" for="main-star-7"></label>
                                <input class="star star-6" id="main-star-6"
                                    type="radio" name="main_star" value="6" />
                                <label class="star star-6" for="main-star-6"></label>
                                <input class="star star-5" id="main-star-5"
                                    type="radio" name="main_star" value="5" />
                                <label class="star star-5" for="main-star-5"></label>
                                <input class="star star-4" id="main-star-4"
                                    type="radio" name="main_star" value="4" />
                                <label class="star star-4" for="main-star-4"></label>
                                <input class="star star-3" id="main-star-3"
                                    type="radio" name="main_star" value="3" />
                                <label class="star star-3" for="main-star-3"></label>
                                <input class="star star-2" id="main-star-2"
                                    type="radio" name="main_star" value="2" />
                                <label class="star star-2" for="main-star-2"></label>
                                <input class="star star-1" id="main-star-1"
                                    type="radio" name="main_star" value="1" />
                                <label class="star star-1" for="main-star-1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#">Safe</a></td>

                        <td class="table_rate">{{ casino.get_avg_safe_rate }} 🌟</td>
                        <td class="table_full_rate">
                            <div class="stars">
                                <input class="star star-10" id="safe-star-10"
                                    type="radio" name="safe_star" value="10" />
                                <label class="star star-10"
                                    for="safe-star-10"></label>
                                <input class="star star-9" id="safe-star-9"
                                    type="radio" name="safe_star" value="9" />
                                <label class="star star-5" for="safe-star-9"></label>
                                <input class="star star-8" id="safe-star-8"
                                    type="radio" name="safe_star" value="8" />
                                <label class="star star-8" for="safe-star-8"></label>
                                <input class="star star-7" id="safe-star-7"
                                    type="radio" name="safe_star" value="7" />
                                <label class="star star-7" for="safe-star-7"></label>
                                <input class="star star-6" id="safe-star-6"
                                    type="radio" name="safe_star" value="6" />
                                <label class="star star-6" for="safe-star-6"></label>
                                <input class="star star-5" id="safe-star-5"
                                    type="radio" name="safe_star" value="5" />
                                <label class="star star-5" for="safe-star-5"></label>
                                <input class="star star-4" id="safe-star-4"
                                    type="radio" name="safe_star" value="4" />
                                <label class="star star-4" for="safe-star-4"></label>
                                <input class="star star-3" id="safe-star-3"
                                    type="radio" name="safe_star" value="3" />
                                <label class="star star-3" for="safe-star-3"></label>
                                <input class="star star-2" id="safe-star-2"
                                    type="radio" name="safe_star" value="2" />
                                <label class="star star-2" for="safe-star-2"></label>
                                <input class="star star-1" id="safe-star-1"
                                    type="radio" name="safe_star" value="1" />
                                <label class="star star-1" for="safe-star-1"></label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Faith</td>
                        <td class="table_rate">{{ casino.get_avg_faith_rate }} 🌟</td>
                        <td class="table_full_rate">
                            <div class="stars">
                                <input class="star star-10" id="faith-star-10"
                                    type="radio" name="faith_star" value="10" />
                                <label class="star star-10"
                                    for="faith-star-10"></label>
                                <input class="star star-9" id="faith-star-9"
                                    type="radio" name="faith_star" value="9" />
                                <label class="star star-5" for="faith-star-9"></label>
                                <input class="star star-8" id="faith-star-8"
                                    type="radio" name="faith_star" value="8" />
                                <label class="star star-8" for="faith-star-8"></label>
                                <input class="star star-7" id="faith-star-7"
                                    type="radio" name="faith_star" value="7" />
                                <label class="star star-7" for="faith-star-7"></label>
                                <input class="star star-6" id="faith-star-6"
                                    type="radio" name="faith_star" value="6" />
                                <label class="star star-6" for="faith-star-6"></label>
                                <input class="star star-5" id="faith-star-5"
                                    type="radio" name="faith_star" value="5" />
                                <label class="star star-5" for="faith-star-5"></label>
                                <input class="star star-4" id="faith-star-4"
                                    type="radio" name="faith_star" value="4" />
                                <label class="star star-4" for="faith-star-4"></label>
                                <input class="star star-3" id="faith-star-3"
                                    type="radio" name="faith_star" value="3" />
                                <label class="star star-3" for="faith-star-3"></label>
                                <input class="star star-2" id="faith-star-2"
                                    type="radio" name="faith_star" value="2" />
                                <label class="star star-2" for="faith-star-2"></label>
                                <input class="star star-1" id="faith-star-1"
                                    type="radio" name="faith_star" value="1" />
                                <label class="star star-1" for="faith-star-1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Design</td>

                        <td class="table_rate">{{ casino.get_avg_design_rate }} 🌟</td>
                        <td class="table_full_rate">
                            <div class="stars">
                                <input class="star star-10" id="design-star-10"
                                    type="radio" name="design_star" value="10" />
                                <label class="star star-10"
                                    for="design-star-10"></label>
                                <input class="star star-9" id="design-star-9"
                                    type="radio" name="design_star" value="9" />
                                <label class="star star-5" for="design-star-9"></label>
                                <input class="star star-8" id="design-star-8"
                                    type="radio" name="design_star" value="8" />
                                <label class="star star-8" for="design-star-8"></label>
                                <input class="star star-7" id="design-star-7"
                                    type="radio" name="design_star" value="7" />
                                <label class="star star-7" for="design-star-7"></label>
                                <input class="star star-6" id="design-star-6"
                                    type="radio" name="design_star" value="6" />
                                <label class="star star-6" for="design-star-6"></label>
                                <input class="star star-5" id="design-star-5"
                                    type="radio" name="design_star" value="5" />
                                <label class="star star-5" for="design-star-5"></label>
                                <input class="star star-4" id="design-star-4"
                                    type="radio" name="design_star" value="4" />
                                <label class="star star-4" for="design-star-4"></label>
                                <input class="star star-3" id="design-star-3"
                                    type="radio" name="design_star" value="3" />
                                <label class="star star-3" for="design-star-3"></label>
                                <input class="star star-2" id="design-star-2"
                                    type="radio" name="design_star" value="2" />
                                <label class="star star-2" for="design-star-2"></label>
                                <input class="star star-1" id="design-star-1"
                                    type="radio" name="design_star" value="1" />
                                <label class="star star-1" for="design-star-1"></label>
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td>Software</td>

                        <td class="table_rate">{{ casino.get_avg_soft_rate }} 🌟</td>
                        <td class="table_full_rate">
                            <div class="stars">
                                <form action="">
                                    <input class="star star-10" id="software-star-10"
                                        type="radio" name="software_star" value="10" />
                                    <label class="star star-10"
                                        for="software-star-10"></label>
                                    <input class="star star-9" id="software-star-9"
                                        type="radio" name="software_star" value="9" />
                                    <label class="star star-5"
                                        for="software-star-9"></label>
                                    <input class="star star-8" id="software-star-8"
                                        type="radio" name="software_star" value="8" />
                                    <label class="star star-8"
                                        for="software-star-8"></label>
                                    <input class="star star-7" id="software-star-7"
                                        type="radio" name="software_star" value="7" />
                                    <label class="star star-7"
                                        for="software-star-7"></label>
                                    <input class="star star-6" id="software-star-6"
                                        type="radio" name="software_star" value="6" />
                                    <label class="star star-6"
                                        for="software-star-6"></label>
                                    <input class="star star-5" id="software-star-5"
                                        type="radio" name="software_star" value="5" />
                                    <label class="star star-5"
                                        for="software-star-5"></label>
                                    <input class="star star-4" id="software-star-4"
                                        type="radio" name="software_star" value="4" />
                                    <label class="star star-4"
                                        for="software-star-4"></label>
                                    <input checked class="star star-3" id="software-star-3"
                                        type="radio" name="software_star" value="3" />
                                    <label class="star star-3"
                                        for="software-star-3"></label>
                                    <input class="star star-2" id="software-star-2"
                                        type="radio" name="software_star" value="2" />
                                    <label class="star star-2"
                                        for="software-star-2"></label>
                                    <input class="star star-1" id="software-star-1"
                                        type="radio" name="software_star" value="1" />
                                    <label class="star star-1"
                                        for="software-star-1"></label>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

            <!-- /Rating Section -->
        <!-- </div> -->
        </div>
    </div>

    <!-- Description -->
    <div class="row description-section shadow">

        <!-- /Column One -->
        <div class="col">
            <ul>
                {% if casino.banned_countries %}
                <li>
                    <p><i class="fas fa-flag"></i> Resctricted countries:
                        {{ casino.banned_countries }}</p>
                </li>
                {% endif %}
                <li>
                    <p><i class="fas fa-file-invoice"></i> License:
                        {{ casino.ca_license|default:'No' }}</p>
                </li>
                <li>
                    <p><i class="fas fa-money-bill-wave-alt"></i> Cashback:
                        {{ casino.cashback|default:"No" }}</p>
                </li>
                <li>
                    <p><i class="fas fa-money-bill-wave-alt"></i> Accept crypto:
                        {{ casino.does_accept_crypto|yesno:"Yes,No" }}</p>
                </li>

                <!-- Withdrwal section -->
                <hr>
                <li>
                    <p><i class="fas fa-angle-down"></i> Min deposit:
                        {{ casino.min_in }}</p>
                </li>
                <li>
                    <p><i class="fas fa-angle-up"></i> Min withdrwal:
                        {{ casino.min_output }}</p>
                </li>
                <li>
                    <p><i class="fas fa-angle-double-up"></i> Max withdrwal:
                        {{ casino.max_output }}</p>
                </li>
                <br>
                <li>
                    <p><i class="far fa-id-card"></i> Docs for withdrwal:
                        {{ casino.with_docs_bool|yesno:"Yes, No" }}</p>
                </li>


                {% if casino.with_freq %}
                <li>
                    <p><i class="fas fa-wave-square"></i> Withdrwal frequency:
                        {{ casino.with_freq }}</p>
                </li>
                {% endif %} {% if casino.with_easy %}
                <li>
                    <p><i class="fas fa-share"></i> Сomplexity of withdrawal:
                        {{ casino.with_easy }}</p>
                </li>
                {% endif %}

                <!-- Support Section -->
                <hr>
                <li>
                    <p><i class="fas fa-question-circle"></i> Support grade:
                        {{ casino.support_grade }}</p>

                </li>
                <li>
                    <p><img src="https://cdn.countryflags.com/thumbs/russia/flag-button-square-250.png"
                            width=20px alt=""> Russian speaking support:
                        {{ casino.rus_support|yesno:"Yes,No" }}</p>
                </li>

                {% if casino.support_desc %}
                <li>
                    <p><i class="fas fa-headset"></i> Support review:
                        {{ casino.support_desc }}</p>
                </li>
                {% endif %}

                <hr>
                <!--  -->

                <!--  -->
                <li>
                    <p><i class="far fa-money-bill-alt"></i> Jackpot:
                        {{ casino.jackpot|default:"No" }}</p>
                </li>

            </ul>


        </div>
        <!-- /Column One -->

        <!-- Column Two -->
        <div class="col">
            <ul>
                {% if casino.crypto %}
                <a href="">
                    <li>
                        <a href=""><span
                                class="marker badge badge-primary">Crypto</span></a>
                        <p>CryptoCasino: {{ casino.crypto|yesno:"Yes,No"}}</p>
                        <!-- <p class="description-info">Криптовалютные казино работают по принципу</p> -->
                    </li>
                </a>
                {% endif %} {% if casino.scam %}
                <li>
                    <a href=""><span
                            class="marker badge badge-danger">Scam</span></a>
                    <p class="description-info">
                        Осторожно! Мошейнический проект!
                        <a href="">Что это означает и почему проекту выдается
                            статус Scam-проекта</a>
                    </p>
                </li>
                {% endif %} {% if casino.script %}
                <li>
                    <a href=""><span
                            class="marker badge badge-warning">Script</span></a>
                    <p>Script: Yes</p>
                    <p class="description-info">
                        What does it mean?


                    </p>
                </li>
                {% endif %}

            </ul>

        </div>
        <!-- /Column Two -->
    </div>
    <!--  -->


    <!-- Pros and Cons  -->
    <div class="row conspros-block">
        <div class="col pros-block">
            <h3><i class="fas fa-plus-circle"></i> Pros</h3>
            <ul>
                {% for pros in casino.get_pros %}
                <li><i class="fas fa-plus"></i> {{ pros.name }}</li>
                {% endfor %}
            </ul>

        </div>
        <div class="col cons-block">
            <h3><i class="fas fa-minus-circle"></i> Cons</h3>
            <ul>
                {% for cons in casino.get_cons %}
                <li><i class="fas fa-minus"></i> {{ cons.name }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>
    <!--  -->


    <!-- Jackpot Large Block -->
    <div class="jackpot-large jackpot shadow">
        <a href="#">
            <h2>Claim Jackpot <span class="jackpot-digits">$1 000 000</span>
            </h2>
            <p>Play and win <i class="fas fa-money-bill-alt"></i></p>
        </a>
    </div>
    <!--  -->


    <!-- Casino Content -->
    <div class="casino-content text-center">
        <a name="casino-content" href="#"></a>
        {{ casino.content|safe }}

    </div>
    <!--  -->


    <!-- Payment Block -->
    <div class="payment-block text-center">
        <div class="payment-content">

            {% for pm in casino.get_payments %}
            <a href=""><img src="{{ pm.image.url }}" alt="{{ pm.name }}"></a>
            {% endfor %}

        </div>
    </div>
    <!-- -->


    <!-- Bonus Block -->
    <div class="bonus-block">

        <!-- Bonus  -->
        <a href="">
            <div class="jackpot bonus-advertising text-center">
                <h2>Best No Deposit Casino Bonuses in 2020 </h2>
                <p>Want to make the most of casino bonuses without having to
                    deposit your own cash and keep what you win? A no deposit
                    bonus mean you can play for free but win real money. We have
                    compiled an up-to-date list of 2020's best no deposit bonus
                    offers. Make an informed decision about where to sign up, by
                    comparing the best the industry has to offer. </p>
            </div>
        </a>
        <!-- /Bonus adv block -->

        {% comment %} <h2 class="text-center">Бонусы от {{ casino.title }}</h2>


        <!-- Bonus Listing -->
        <ul class="bonus-card-list">
            {% for b in casino.get_bonuses %}
            <li>
                <a href="">
                    <div class="bonus-card">
                        <h3>{{ b.two_word_desc }}</h3>
                        <p>Депозитный бонус: {{ b.dep_bool|yesno:"Да,Нет,Хз" }}
                        </p>
                        {% if b.dep_bool %}
                        <p>Размер депозита: {{ b.dep }}</p>
                        {% endif %}

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Voluptatum quas repellendus, possimus
                            reiciendis quos incidunt voluptatem. Deserunt quod
                            necessitatibus neque eligendi eos nihil, blanditiis
                            sint rerum nesciunt libero
                            reprehenderit officiis.</p>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul> {% endcomment %}
        <!--  -->


        <!-- Another Bonuses  -->
        <!-- <div class="another-bonuses text-center">
            <a href="">
                <h2>Check Out All Bonuses For The Casino</h2>
                <p><i class="fas fa-chevron-down"></i></p>
            </a>
        </div> -->
        <!--  -->


    </div>
    <!-- /Bonus block -->
    
    <!-- Disqus Comments -->
    <div class="card shadow card-comments">
        {% include 'comments.html' with slug=post.slug %}
    </div>
    <!--  -->

</div>

{% endblock %}