<div id="disqus_thread"></div>

<script>
    // Change only the variables below    
    // let PAGE_URL = "https://yourdomain.in/post/{{ slug }}/";
    let PAGE_URL = "https://localhost:8000/post/{{ slug }}/";
    let PAGE_IDENTIFIER = '{{ slug }}';


    var disqus_config = function () {
        this.page.url = PAGE_URL;
        this.page.identifier = PAGE_IDENTIFIER;
    };

    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document,
            s = d.createElement('script');
        s.src = 'https://bestcasinos-1.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a
        href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>