{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-8 card mb-4  mt-4 left shadow top">
            <div class="card-body">
                <!-- Post Header -->
                <h1 class='text-cener font-weight-bold'>{% block title %}
                    {{ post.title }} {% endblock title %}</h1>
                <hr>
                <!-- Post Meta -->
                <div class="row">
                    
                    <div class="col">
                        {{ post.created_on|date:'d/m/Y H:i' }}
                    </div>

                    <div class="col">
                        <p class='font-weight-bold text-center'>5 minute to read</p>
                    </div> 

                    <div class="col">
                        <p class='text-right'><a
                                href="#">{{ post.author }}</a></p>
                    </div>

                </div>
                <!--  -->
                <!-- <hr> -->
                <!-- Post Content -->
                <p class="card-text ">{{ post.content | safe }}</p>

            </div>
        </div>

        <!-- Sidebar -->
        {% include 'sidebar.html' %}

    </div>
</div>

{% endblock content %}